.debug .wrapper {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin: 10px 0;
}

.debug .wrapper > div > div {
  padding: 0 25px;
}

.radioBtn .sf-radio-checkbox {
  margin: 0;
  float: left;
}
.radioBtn .sf-radio-checkbox label, .radioBtn .sf-radio-checkbox label span {
  width: 100%;
}
.radioBtn .sf-radio-checkbox input {
  display:none;
}
.radioBtn .visible{
  transition: all linear 0.2s;
  width: 100%;
}
